@{
    ViewData["Title"] = "Home Page";
}

@model List<Tv>

<h3>Popüler Diziler</h3>

<div class="row mt-3">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://image.tmdb.org/t/p/w500/@item.poster_path" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@item.name</h5>
                    <p class="card-text">@item.overview</p>
                    <a href="/Tv/Detail/@item.id" class="btn btn-primary">Detay</a>
                </div>
            </div>
        </div>
    }
</div>